.entry{
    color:blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    position:absolute;
    top:100px;
    left:500px;
}
.btn{
    background-color: red;
    color:white;
    text-align: center;
    padding:15px 32px;
    font-size: 16px;
    top:120px;
    right:10px;
    position: absolute;
}
.btn:hover{
    background-color: lawngreen;
}